div{
    box-sizing: border-box;
}
.bg{
    background-color:rgba(0, 0, 0, 0.5); /*살짝 투명한 검정으로 배경색*/
    position: absolute; /*다른 요소들 위로 겹쳐질 수 있게함*/
    width: 100%;
    height: 500px;
}

.main-background{
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;
    position: relative;
    /* filter: brightness(70%); */
}
.main-title{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.main-text{
  color: white;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  word-spacing: 1px;
}

.shop-btn{
    text-align: center;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    margin-top: 100px;
    font-size: 14px;
    font-weight: 400;
    word-spacing: -1px;
    border: solid 1px gray;
    border-radius: 4px;
    padding: 10px;
    background-color:rgba(255, 255, 255, 0.5);
}

.main-box{
    background-color: rgb(240, 240, 240);
    position: relative;
    top: 460px;
    margin: auto;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    height: 150px;
    text-align: center;
    border-radius: 4px;
    z-index: 5;
}

.main-box-title{
    margin: 15px;
    font-weight: 400;
}

.main-box-text{
    color: gray;
}



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}