.navbar{
    text-align: center;
   background-color: white;
   box-shadow: 5px 5px 5px 5px rgb(215, 215, 215);
   border-radius: 4px;
    padding: 10px;
   margin: 20px;

}
.logo{
    width: 40px;
    float: left;
    margin: 1px;
}

.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    /* border-right: solid 1px rgb(224, 224, 224); */
    padding: 8px;

}

.navbar a{
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.container{
    width: 800px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding: 20px;

    }

.content_left{
    width: 80%;
    float: left;

}
.content_right{
    width: 20%;
    float: left;
    
    
}
.content_info_img{
    width: 50px;
    float: left;
}
.content_info_text{
    float: left;
    margin: 8px;
}
.content_info_name{
    font-size: 14px;
    margin: 0px;
}

.content_info_time{
    font-size: 10px;
    margin: 0px;
    color: gray;
    padding-top: 4px;
}

.content_text{
    clear: both;
    padding: 1px;
}
.content_text_title{
    font-size: 16;
    margin-bottom: 0px;
}

.content_text_ex{
    font-size: 12px;
    color: gray;
    margin-top: 6px;
    margin-right: 10px;
}

.content_right_img{
    margin-top: 30px;
    width: 100% ;
}